/.idea/
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Trainer_Feedback.iml
/.idea/vcs.xml
/.idea/workspace.xml

**/.streamlit/secrets.toml
**/__pycache__/
**/.venv/
*.pyc
