<!DOCTYPE html>
<html>
<head>
    <title>Peer Review Feedback - Page 2</title>
</head>
<body>
    <h2>Peer Review for Planner</h2>
    <form method="post">
        <p>Provide feedback for:</p>
        <select id="name" name="name">
            <option value="Darlenis">Darlenis</option>
            <option value="Hector">Hector</option>
            <option value="Randy">Randy</option>
            <option value="Emma M">Emma M</option>
            <option value="Brooke B">Brooke B</option>
            <option value="Kate">Kate</option>
            <option value="Shahreena">Shahreena</option>
            <option value="Jeff">Jeff</option>
            <option value="Justin">Justin</option>
            <option value="Cindy">Cindy</option>
            <option value="Emma">Emma</option>
        </select>
        <br>
        <hr>
        <h2>Documentation Feedback Questionnaire</h2>
            <label>Question 1: How would you rate the planner's selection of scan?</label><br>
            <div id="q1Comments">
            <label>Scan Selection Feedback comments?</label><br>
            <input type="checkbox" name="q1C" value="Meets Expectation or best scan choice chosen by planner. "> Meets Expectation or best scan choice chosen by planner<br>
            <input type="checkbox" name="q1C" value="Better scan choice available to have chosen. "> Better scan choice available to have chosen<br>
            <input type="checkbox" name="q1C" value="Scan is a rejection and cannot be planned with. "> Scan is a rejection and cannot be planned with<br>
            <!-- Use a unique identifier for the "Other" checkbox and its associated text input -->
            <input type="text" id="q1COtherText" name="q1COtherText" placeholder="Additional comments:" style="width: 600px; padding: 10px;">
            <br>
            </div>
            <label>Question 2: How would you rate the planner's rider form?</label><br>
            <div id="q2Comments">
            <label>Rider Form Feedback comments?</label><br>
            <input type="checkbox" name="q2C" value="Rider form reflects all correct information and is completely filled out. "> Rider form reflects all correct information and is completely filled out<br>
            <input type="checkbox" name="q2C" value="Rider form is missing a few fields of information or is not signed. "> Rider form is missing a few fields of information or is not signed<br>
            <input type="checkbox" name="q2C" value="Rider form is missing a comment. "> Rider form is missing a comment<br>
            <input type="checkbox" name="q2C" value="Rider form has extra comments. "> Rider form has extra comments<br>
            <input type="text" id="q2COtherText" name="q2COtherText" placeholder="Additional comments:" style="width: 600px; padding: 10px;">
            <br>
            </div>
        <hr>
        <!-- From Page 4: Segmentation Edits Questions -->
        <h2>Segmentation Feedback Questionnaire</h2>
            <label>Question 3: How would you rate the planner's segmentation?</label><br>
            <div id="q3Comments">
            <label>Segmentation Feedback comments?</label><br>
            <input type="checkbox" name="q3C" value="Soft tissue still remained around glenoid rim. "> Soft tissue still remained around glenoid rim<br>
            <input type="checkbox" name="q3C" value="Soft tissue still remained on glenoid face. "> Soft tissue still remained on glenoid face<br>
            <input type="checkbox" name="q3C" value="Excessive soft tissue was around scapula. "> Excessive soft tissue was around scapula<br>
            <input type="checkbox" name="q3C" value="Light humeral head remained on glenoid. "> Light humeral head remained on glenoid<br>
            <input type="checkbox" name="q3C" value="Major humeral head remained on glenoid. "> Major humeral head remained on glenoid<br>
            <input type="checkbox" name="q3C" value="Better thresholding choice was available. "> Better thresholding choice was available<br>
            <input type="checkbox" name="q3C" value="Better cortex choice was available for choosing. "> Better cortex choice was available for choosing<br>

            <input type="text" id="q3COtherText" name="q3COtherText" placeholder="Additional comments:" style="width: 600px; padding: 10px;">
            <br>
            </div>
        <hr>
        <!-- From Page 5: Scapula Landmarks Questions Add glenoid landmarks and make it one-->
        <h2>Scapula Landmarks Feedback Questionnaire</h2>
            <label>Question 4: How would you rate the planner's Scapula Landmarking?</label><br>
            <div id="q4Comments">
            <label>Scapula Landmarking Feedback comments?</label><br>
            <input type="checkbox" name="q4C" value="Minor movement to glenoid center. "> Minor movement to glenoid center<br>
            <input type="checkbox" name="q4C" value="Minor movement to trigonum scapula. "> Minor movement to trigonum scapula<br>
            <input type="checkbox" name="q4C" value="Minor movement to angulus inferior. "> Minor movement to angulus inferior<br>
            <input type="checkbox" name="q4C" value="Minor movement to angulus inferior. "> Minor movement to angulus inferior<br>
            <input type="checkbox" name="q4C" value="The angulus inferior needs to be on the cortex. "> The angulus inferior needs to be on the cortex<br>
            <input type="checkbox" name="q4C" value="The angulus inferior needs to be centered in the last slice of the transverse view. "> The angulus inferior needs to be centered in the last slice of the transverse view<br>
            <input type="checkbox" name="q4C" value="Glenoid Center only centered in one view. "> Glenoid Center only centered in one view<br>
            <input type="checkbox" name="q4C" value="Glenoid Center should be moved a little more superior. "> Glenoid Center needs to be more superior<br>
            <input type="checkbox" name="q4C" value="Major movement to two or more landmarks. "> Major movement to two or more landmarks<br>
            <input type="checkbox" name="q4C" value="SN should be on the neck. "> SN should be on the neck<br>

            <input type="text" id="q4COtherText" name="q4COtherText" placeholder="Additional comments:" style="width: 600px; padding: 10px;">

            <div id="q5Comments">
            <label>Glenoid Landmarking Feedback comments?</label><br>
            <input type="checkbox" name="q5C" value="Minor movement of anterior or posterior glenoid rim landmark. "> Minor movment of anterior or posterior glenoid rim landmark<br>
            <input type="checkbox" name="q5C" value="Minor movement of superior glenoid rim landmark. "> Minor movment of superior glenoid rim landmark<br>
            <input type="checkbox" name="q5C" value="Glenoid plane too expanded on glenoid. "> Glenoid plane too expanded on glenoid<br>
            <input type="checkbox" name="q5C" value="Glenoid plane too cramped on glenoid. "> Glenoid plane too cramped on glenoid<br>
            <input type="checkbox" name="q5C" value="Version should be updated to mimic native vault. "> Version should be updated to mimic native vault<br>
            <input type="checkbox" name="q5C" value="Major change to version. "> Major change to version<br>
            <input type="checkbox" name="q5C" value="Major change to inclination. "> Major change to inclination<br>
            <input type="checkbox" name="q5C" value="Reset glenoid plane landmarks to new locations. "> Reset glenoid plane landmarks to new locations<br>
            <input type="checkbox" name="q5C" value="Forgot to set some coracoid / acromion / scapular neck landmarks. "> Forgot to set some coracoid / acromion / scapular neck landmarks<br>
            <input type="checkbox" name="q5C" value="GRA and GRP are not in the same plane. "> GRA and GRP are not in the same plane.<br>

            <input type="text" id="q5COtherText" name="q5COtherText" placeholder="Additional comments:" style="width: 600px; padding: 10px;">
            <br>
            </div>
        <hr>
        <!-- From Page 6: Humeral Landmark Questions-->
        <h2>Humeral Landmarks Feedback Questionnaire</h2>
            <div id="q6Comments">
            <label>Humeral Landmark Feedback comments?</label><br>
            <input type="checkbox" name="q6C" value="Minor correction to humeral shaft. "> Minor correction to humeral shaft<br>
            <input type="checkbox" name="q6C" value="Major correction to humeral shaft. "> Major correction to humeral shaft<br>
            <input type="checkbox" name="q6C" value="Shaft landmarks should not be deep onto the axis canal, they should mimic the implant length. "> Shaft landmarks deep into the canal<br>
            <input type="checkbox" name="q6C" value="Humeral plane directed more through humeral head or changed Neck Shaft Angle. "> Humeral plane directed more through humeral head or changed Neck Shaft Angle<br>
            <input type="checkbox" name="q6C" value="Slight change to other humeral landmarks. "> Slight change to other humeral landmarks<br>
            <input type="checkbox" name="q6C" value="Forgot to place one or more other humeral landmarks. "> Forgot to place one or more other humeral landmarks<br>
            <input type="checkbox" name="q6C" value="AN landmark should be on solid bone on the calcar area. "> AN landmark should be on solid bone<br>
            <input type="checkbox" name="q6C" value="Humeral head size reduced or increased. "> Humeral head size reduced or increased<br>
            <input type="checkbox" name="q6C" value="Humeral head size not centered. "> Humeral head size not centered<br>

            <input type="text" id="q6COtherText" name="q6COtherText" placeholder="Additional comments:" style="width: 600px; padding: 10px;">
            <br>
            </div>
        <hr>
        <!-- From Page 7: Humeral Head Implant Questions-->
        <h2>Humeral Implant Feedback Questionnaire</h2>
            <div id="q7Comments">
            <label>Humeral Implant Feedback comments?</label><br>
            <input type="checkbox" name="q7C" value="Humeral stem selection not appropriate for anatomy. "> Humeral stem selection not appropiate for anatomy<br>
            <input type="checkbox" name="q7C" value="Cage Screw should be reduced until it is small It has to have at least 8mm gap with the cortex. "> Cage Screw not having 8mm gap<br>
            <input type="checkbox" name="q7C" value="Eclipse can be closer to the cortex to mimic the articulating surface better"> Eclipse closer to the cortex<br>
            <input type="checkbox" name="q7C" value="Cup head of stem should match glenosphere size. "> Cup head of stem should match glenosphere size<br>
            <input type="checkbox" name="q7C" value="Sample input"> Sample input<br>
            <input type="text" id="q7COtherText" name="q7COtherText" placeholder="Additional comments:">
            <br>
            </div>
        <hr>
    <!-- From Page 8: Glenoid Implant Questions-->
        <h2>Glenoid Implant Feedback Questionnaire</h2>
            <div id="q8Comments">
            <label>Glenoid Implant Feedback comments?</label><br>
            <input type="checkbox" name="q8C" value="Need to update implant due to changes in landmarks. "> Need to update implant due to changes in landmarks<br>
            <input type="checkbox" name="q8C" value="Rolled to better superior implant trajectory. "> Rolled to better superior implant trajectory<br>
            <input type="checkbox" name="q8C" value="Implant version changed. "> Implant version changed<br>
            <input type="checkbox" name="q8C" value="Implant inclination changed. "> Implant inclination changed<br>
            <input type="checkbox" name="q8C" value="Implant positioning should be inferior and posterior avoiding unstable bone. "> MGS positioning changed<br>
            <input type="checkbox" name="q8C" value="VL implant should be more centered into the glenoid anatomy it should follow and sit onto the anatomy. "> VL positioning changed<br>
            <input type="checkbox" name="q8C" value="VL roll should change to mimic anatomy better. "> VL roll changed<br>
            <input type="checkbox" name="q8C" value="Implant downsizing unnecessary. "> Implant downsizing unnecessary<br>
            <input type="checkbox" name="q8C" value="Perforated a polyethylene component(VL). "> Perforated a polyethylene component(VL)<br>
            <input type="checkbox" name="q8C" value="Medialized slightly too deep into glenoid. "> Medialized slightly too deep into glenoid<br>
            <input type="checkbox" name="q8C" value="Able to achieve 100% backside seating. "> Able to achieve 100% backside seating<br>
            <input type="checkbox" name="q8C" value="AP Measurement is missing for glenosphere size. "> AP Measurement is missing for glenosphere size<br>
            <input type="checkbox" name="q8C" value="Glenosphere size is incorrect. "> Glenosphere size is incorrect<br>
            <input type="checkbox" name="q8C" value="Glenosphere size is too small. "> Glenosphere size is too small<br>
            <input type="checkbox" name="q8C" value="Glenosphere size is too large. "> Glenosphere size is too large<br>
            <input type="checkbox" name="q8C" value="The usage of half augments is not permitted. "> The usage of half augments is not permitted<br>

            <input type="text" id="q8COtherText" name="q8COtherText" placeholder="Additional comments:">
            <br>
            </div>
        <button type="submit">Next</button>
    </form>
</body>
</html>

<script>
function getSelectedCheckboxes(name) {
    const checkboxes = document.querySelectorAll('input[name="' + name + '"]:checked');
    const selectedValues = Array.from(checkboxes).map(checkbox => checkbox.value);
    const otherInput = document.getElementById(name + "OtherText");
    const otherText = otherInput.value.trim();
    if (otherText !== "") {
        selectedValues.push(otherText);
    }
    print (selectedValues);
    return selectedValues.join(', ');
}
</script>